.site-header
{
    background-color: rgba(172, 122, 206, 0.24);
    color:rgb(20, 26, 31);
    font-family:monospace;
    display :flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.site-header-content
{
  margin: 1rem;
}
.profile_pic
{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    flex-direction: column;
    
}
body{

    margin: 0%;
}
.course-link{
    color:rgb(20, 26, 31);
}